@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h3>姓名：@ViewBag.CookieUserName</h3>
<h3>保存在Session中的用户名：@ViewBag.SessionUserName</h3>
<h3>BlogTitle:@ViewBag.Blog.Title</h3>
<p>Use this area to provide additional information.</p>
